{% extends "base.html" %}

{% block titulo %}
<title>Nicolas Jimenez</title>
{% endblock titulo %}


{% block contenido %}
<h1 align="center" style="color: rgb(34, 139, 34);">Nicolas Jimenez</h1>
<p align="center">
    Mi nombre es Nicolás Jiménez, un apasionado escalador colombiano originario de la ciudad de Bogotá. 
    Desde que descubrí un gimnasio de escalada en Bogotá a los 15 años, este deporte se convirtió en 
    mi estilo de vida. Mi pasión se centra en la escalada en vía, tanto clásica como deportiva, 
    y me encanta desafiarme a mí mismo alcanzando grados elevados. Hasta ahora, mi logro máximo 
    ha sido conquistar el grado 5.13b/8a, pero tengo muchos sueños y desafíos por delante.
<br></br>
    El propósito de esta página surge de la idea de unificar a la comunidad de escaladores en 
    Colombia. Quiero crear un espacio donde podamos compartir y registrar rutas, bloques, 
    información sobre parques y algunos artículos relacionados. Mi objetivo es contribuir 
    al crecimiento y fortalecimiento de la comunidad de escalada en nuestro país, 
    facilitando el acceso a recursos valiosos y fomentando la conexión entre los amantes de 
    este apasionante deporte. ¡Bienvenidos a este espacio donde la escalada se convierte en un 
    vínculo que une a todos los aficionados en Colombia!
</p>


{% endblock contenido %}