{% extends "base.html" %}

{% block titulo %}
<title>Blog</title>
{% endblock titulo %}

{% block contenido %}

  <h1 style="color:rgb(34, 139, 34);"> Lista de Articulos</h1>
  <a type="button" class=" btn btn-outline-primary" href="{%url 'registrar_page'%}">Nuevo articulo</a>
  <br></br>
  
  <h4 style="color: #0d6efd;">Articulos</h4>
{% if object_list|length %}
    <table class ="table">
      <tbody>
        <tr>
          <th>Titulo</th>
          <th>Cuerpo</th>
          <th>Autor</th>
          <th></th>
          <th></th>
        </tr>
      {% for blog in object_list %}
        <tr>
          <td>{{blog.titulo}}</td>
          <td>{{blog.cuerpo | truncatewords:5}}</td>
          <td>{{blog.autor}}</td>
          <td>
            <a href="{%url "ver_page" blog.id %}"><input type="submit" style="color: #0d6efd;background-color: #FFFFFF; border-radius: 4px; border-color:#0d6efd; border-width: thin " value="Ver"/></a>
          </td>
          <td>
            <a href="{%url "editar_page" blog.id %}"><input type="submit" style="color: #0d6efd;background-color: #FFFFFF; border-radius: 4px; border-color:#0d6efd; border-width: thin " value="Editar"/></a>
          </td>
          <td>
            <a href="{%url "eliminar_page" blog.id %}">
              <i class="bi bi-trash"></i>
            </a>
          </tr>
        {% endfor %}
  {% else %}
    <h3>No hay articulos</h3>
  {% endif %}
    </tbody>
  </table> 
{% endblock contenido %}
