{% extends "base.html" %}

{% block titulo %}
<title>nueva_via</title>
{% endblock titulo %}

{% block contenido %}

<h1 style="color: #0d6efd;"> Listado rutas</h1>
<a type="button" class="btn btn-outline-primary" href="{%url 'registrar_ruta'%}">Nueva ruta</a>
<br></br>

<form action="{% url 'buscar_rutas' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" style="color: #0d6efd;background-color: #FFFFFF; border-radius: 4px; border-color:#0d6efd; border-width: thin " value="Buscar por ruta">
</form>
<br></br>
<h4 style="color: #0d6efd">Lista de rutas registradas</h4>

  <ul>
    {% for nueva_ruta in nueva_ruta %}
    <li>{{nueva_ruta}}</li>
    {% endfor %}
  </ul>

  <a class="list-inline-item" href="{%url 'informacion_vias'%}">Ver lista completa</a>


{% endblock contenido %}
